@import "../base/variables";

.daily-content {
  background-color: $bg;
  height: 950px;
  padding: 48px 9%;
  width: 100%;
  text-align: center;
  .title {
    margin-top: 12px;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    font-style: italic;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px 18px;
    background-color: #333;
    border-radius: 32px;
    margin-bottom: 48px;
    width: 820px;
    .nav-item {
      padding: 12px 16px;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      &.active {
        background-color: $primary;
      }
    }
  }
  .commic-container {
    width: 850px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px 24px;
    margin-bottom: 32px;
    .commic-item {
      min-width: 194px;
      text-align: center;
      .avatar {
        width: 100%;
        height: 250px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .name {
        margin-top: 12px;
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        font-style: italic;
        margin-bottom: 8px;
      }
    }
  }
  .footer-btn {
    width: 196px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: $primary;
    padding: 12px 8px;
    border-radius: 24px;
  }
}
