@import "../base/variables";

.daily-content {
  background-color: $bg;
  padding: 0 9% 52px 9%;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  .content {
    width: 850px;
    overflow: hidden;
    &.active {
      height: 820px;
    }
    .title {
      margin-top: 12px;
      margin-bottom: 32px;
      font-weight: 600;
      font-size: 32px;
      color: #fff;
      font-style: italic;
    }
    .navbar {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      padding: 12px 18px;
      background-color: #333;
      border-radius: 32px;
      margin-bottom: 48px;
      width: 100%;
      .nav-item {
        padding: 12px 16px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        &.active {
          background-color: $primary;
        }
      }
    }
    .commic-container {
      width: 850px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 24px 24px;
      .commic-item {
        min-width: 100%;
        text-align: center;
        cursor: pointer;
        .avatar {
          width: 100%;
          height: 250px;
          img {
            width: 100%;
            height: 100%;
            // object-fit: cover;
          }
        }
        .name {
          margin-top: 12px;
          font-weight: 600;
          font-size: 16px;
          color: #fff;
          font-style: italic;
          margin-bottom: 8px;
        }
      }
    }
  }
  .footer-btn {
    cursor: pointer;
    width: 196px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: $primary;
    padding: 12px 8px;
    border-radius: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    &:hover {
      opacity: 0.8;
    }
  }
}

// Responsive
// 2xl
@media screen and (max-width: 1536px) {
}

// xl
@media screen and (max-width: 1280px) {
  .commic-container {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 24px 28px !important;
  }
}

// lg
@media screen and (max-width: 1024px) {
  .commic-container {
    width: 600px !important;
    padding: 0 24px;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 24px 24px !important;
  }
}

// md
@media screen and (max-width: 768px) {
  .commic-container {
    width: 350px !important;
    grid-template-columns: repeat(1, 1fr) !important;
    .commic-item {
      height: 300px;
      margin-bottom: 24px;
      .avatar {
        height: 280px !important;
      }
    }
  }
  .navbar {
    padding: 8px 12px !important;
    .nav-item {
      padding: 8px 12px !important;
    }
  }
}

// sm
@media screen and (max-width: 640px) {
  .navbar {
    flex-wrap: wrap !important;
  }
}

// xs
@media screen and (max-width: 475px) {
}
