@import "../base/variables";

.sample-container {
  background-color: $bg;
  padding: 32px 9%;
  .title {
    margin-top: 12px;
    padding-bottom: 32px;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    font-style: italic;
  }
  .list-commic {
    display: flex;
    align-items: center;
    gap: 32px;
    overflow: hidden;
    cursor: pointer;
    .title-comic {
      color: #fff;
      margin-top: 12px;
    }
    img {
      width: 180px;
      height: 240px;
    }
    .social {
      display: flex;
      align-items: center;
      gap: 12px;
      .view {
        display: flex;
        align-items: center;
        gap: 4px;
        .icon {
          display: flex;
        }
        p {
          color: #fff;
          font-size: 14px;
        }
      }
      .followers {
        display: flex;
        align-items: center;
        gap: 4px;
        .icon {
          display: flex;
        }
        p {
          color: #fff;
          font-size: 14px;
        }
      }
    }
  }
}
