@import "../base/variables";

.genre-container {
  background-color: $bg;
  padding: 32px 9% 0 9%;
  overflow: hidden;
  .title {
    margin-top: 12px;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    font-style: italic;
  }
  .commic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 100px;
    padding: 0 9% 100px 9%;
    .commic-item {
      cursor: pointer;
      width: 160px;
      height: 240px;
      .thumbnail {
        margin-bottom: 8px;
        img {
          width: 100%;
          height: 240px;
        }
      }
      .name {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 4px;
      }
      .chapter {
        color: #999;
        font-size: 12px;
        font-weight: 500;
      }
      .rating {
        display: flex;
        align-items: center;
        gap: 6px;
        .rate {
          p {
            color: #fff;
            font-size: 12px;
            font-weight: 500;
          }
        }
        .icon {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
